* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

:root {
  --primary-color: #143f90;
  --border-color: #161414;
  --text-color: white;
  --placeholder-color: #1b171780;
  --danger-color: darkred;
  --danger-hover-color: rgb(255, 119, 119);
  --primary-button-color: darkgreen;
  --primary-button-hover-color: rgb(79, 198, 79);
  --button-hover-color: #9eb7e6;
  --primary-input-color: #ffffff83;
  --scrollbar-color: var(--primary-color) var(--button-hover-color);
}

.dark-mode {
  --primary-color: #9eb7e6;
  --border-color: white;
  --text-color: #161414;
  --placeholder-color: #ffffff83;
  --danger-color: rgb(255, 119, 119);
  --danger-hover-color: darkred;
  --primary-button-color: rgb(79, 198, 79);
  --primary-button-hover-color: darkgreen;
  --button-hover-color: #143f90;
  --primary-input-color: #1b171780;
  --scrollbar-color: var(--primary-color) var(--button-hover-color);
}

html {
  scrollbar-color: var(--scrollbar-color);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: var(--text-color);
  color: var(--border-color);
}

input {
  caret-color: var(--primary-color);
  color: var(--border-color);
  background-color: var(--primary-input-color);
}

input::placeholder {
  color: var(--placeholder-color);
}

button {
  border: 0;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}

.head_bar {
  padding: 12px;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.head_bar > * {
  margin-left: auto;
}

.head_bar > .toggle {
  display: flex;
}

.toggle > span {
  margin-block: auto;
}

.toggle > button {
  display: flex;
  justify-content: space-between;
  width: 10em;
  border-radius: 10px;
  padding: 0;
  background-color: var(--primary-input-color);
}

.toggle > button:hover {
  background-color: var(--button-hover-color);
}

.toggle:not(.dark) > button:focus-visible img:first-child {
  background-color: var(--primary-input-color);
  animation: slide-right 3s 0.5s ease-in;
}

.toggle:not(.dark) > button img:first-child,
.toggle.dark > button img:last-child {
  background-color: var(--primary-color);
  transition: transform 0.5s, background-color 0.5s, opacity 0.5s;
  border-radius: 10px;
}

.toggle.dark > button:focus-visible img:last-child {
  background-color: var(--primary-input-color);
  animation: slide-left 0.5s ease-in;
}

@keyframes slide-right {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-50%);
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 1;
    transform: translateX(100%);
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

main {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}

main > section {
  border: 1px solid var(--border-color);
}

main > section > h2 {
  color: var(--primary-color);
}

main > section:not(.book_shelf) button:hover {
  background-color: var(--button-hover-color);
  color: var(--border-color);
}

form > button {
  background-color: var(--primary-color);
}

.input_section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 10px;
}

.input_section > h2 {
  text-align: center;
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > button {
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

form label {
  color: var(--primary-color);
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  margin-right: 10px;
}

.search_section {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 10px;
}

.search_section > form {
  padding: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
  grid-gap: 10px;
}

.search_section > form > label {
  align-self: center;
  color: var(--border-color);
}

.search_section > form > input {
  padding: 5px;
  border-radius: 5px;
}

.search_section > form > button {
  border-radius: 5px;
}

.book_shelf {
  margin: 16px 0 0 0;
  padding: 16px;
  border-radius: 10px;
}

.book_shelf > .book_list {
  padding: 16px;
}

.book_shelf > .book_list:empty {
  padding: 0;
}

.book_shelf > .book_list > .book_item {
  padding: 8px 16px 16px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3,
p {
  margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button,
#submit,
#cancel {
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 5px;
}

.book_shelf > .book_list > .book_item > .action > .green,
dialog .modalEditButton,
#submit {
  background-color: var(--primary-button-color);
}

.book_shelf > .book_list > .book_item > .action > .green:hover,
dialog .modalEditButton:hover,
#submit:hover {
  color: var(--border-color);
  background-color: var(--primary-button-hover-color);
}

.book_shelf > .book_list > .book_item > .action > .red,
dialog .modalRemoveButton,
#cancel {
  background-color: var(--danger-color);
}

.book_shelf > .book_list > .book_item > .action > .red:hover,
dialog .modalRemoveButton:hover,
#cancel:hover {
  color: var(--border-color);
  background-color: var(--danger-hover-color);
}

dialog[open] {
  background-color: var(--text-color);
  color: var(--border-color);
  margin: auto;
  border-width: 1px;
}

dialog > button {
  border-radius: 5px;
  padding: 5px;
}

#editForm {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

#editForm > div {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
